<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://samcraftswebsite20230324134516.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/8c758e96-bd10-4150-9c18-20a75414ce15/resourcegroups/SamCraftsWebsite20230324134516ResourceGroup/providers/Microsoft.ContainerRegistry/registries/SamCraftsWebsite20230324134656</ContainerResourceId>
    <ContainerResourceName>SamCraftsWebsite20230324134656</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>samcraftswebsite20230324134656.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/8c758e96-bd10-4150-9c18-20a75414ce15/resourcegroups/SamCraftsWebsite20230324134516ResourceGroup/providers/Microsoft.Web/sites/SamCraftsWebsite20230324134516</ResourceId>
    <ResourceGroup>SamCraftsWebsite20230324134516ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://samcraftswebsite20230324134516.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>646ca254-0a5f-4ee4-969e-50fdf39cf0eb</ProjectGuid>
  </PropertyGroup>
</Project>